* {
  font-size: 45px;
  font-family: arial, sans-serif;
}

button {
  display: block;
  border: solid 1px;
  border-radius: 2px;
  margin: 4px;
}

.auth-btn {
  float: left;
  margin-left: 7px;
}

.search-bar {
  width: 98%;
  height: 2em;
  text-align: right;
  margin: 3px;
  border: solid 2px;
  border-color: darkgray;
  padding-right: 5px;
}

.filtered-list-c {
  position: absolute;
  max-height: 87%;
  width: 97%;
  overflow: auto;
  border: solid 2px;
  border-color: darkgray;
  top: 3.6em;
  margin-right: 3px;
  z-index: 999;
}

ul.filtered-list {
  padding: 0;
  margin: 0;
  text-align: right;
  background: white;
}

ul.filtered-list li {
  list-style-type: none;
  width: 100%;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}

ul.filtered-list li > span {
  padding-right: 10px;
}

ul.filtered-list li:nth-child(even) {
  background-color: #ccc;
}

.calendar {
  width: 100%;
  margin-top: 15px;
}

.calendar tr th {
  text-align: center;
  font-weight: bold;
}

.calendar tr td {
  padding: 0;
  border: none;
  text-align: center;
}

.calendar tr td .calendar-day {
  border: solid 1px #ccc;
  margin: 3px;
  cursor: pointer;
  position: relative;
}

.calendar tr td .calendar-day.save-error {
  border: solid red;
  background: burlywood !important;
}

.calendar tr td .calendar-day .date {
  font-weight: bold;
  color: #5555d4;
}

.calendar tr td .calendar-day .amount.undercount {
  color: red;
}

.calendar tr td .calendar-day .loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.calendar tr td .calendar-day.present {
  background: #b6d7a8;
}

.calendar tr td .calendar-day.off {
  background: #ffe599;
}

.categories {
  width: 5em;
  float: right;
  margin-top: 1em;
}

.categories > div {
  position: relative;
}

.categories input[type="radio"] {
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 9px;
}

.categories label {
  line-height: 2em;
  padding-right: 2.5em;
}

.categories input[type="radio"]:checked:after {
  left: -3px;
}

.categories input.default-category + label {
  font-weight: bold;
}

.comment {
  display: none;
}

.comment label {
  text-align: center;
  display: block;
  padding-top: 14px;
  font-weight: bold;
}

.comment textarea {
  border: solid 2px;
  border-color: darkgray;
  width: 70%;
  margin-top: 20px;
  margin-right: 32px;
  height: 12em;
}

.comment textarea.save-error {
  border: solid red;
}
